<%- include('../partials/nav', { active: 'home' }) %>
<header class="py-4 bg-light border-bottom mb-4">
    <div class="container">
        <div class="text-center my-5">
            <h1 class="fw-bolder">Hey &lt;ğšŒğš˜ğšğšğš›ğšœ/&gt;, I'm Paul Kazusek.</h1>
        </div>
    </div>
</header>
<main class="flex-fill">
    <div class="container">
        <div class="row">
            <div class="text-center my-5">
                <p class="fs-5">I'm a software engineer from Ruhr Area in Germany. I love open source and building successful projects with it, and writing about what I learn. This is my blog about things I've learned and created over the last years.</p>
            </div>
        </div>
        <div class="row">
            <div class="text-center my-5">
                <h2 class="text-center my-3">My Content</h2>
                <p class="fs-5">C++</p>
            </div>
        </div>
        <div class="row">
            <div class="text-center my-5">
                <h2 class="flex-fill my-3">Social Media</h2>
                <a class="fs-5" role="button" href="https://twitter.com/paulkazusek" target="_blank"><i class="fab fa-twitter"></i></a>
            </div>
        </div>
        <div class="row">
            <div class="text-center my-5">
                <h2 class="flex-fill my-3">Subscribe to my newsletter</h2>
                <p class="fs-5">If you find my content useful you can subscribe for my newsletter, where you will be notified about new posts on my blog.</p>
                <div class="d-flex subscription-content justify-content-between align-items-center flex-column flex-md-row text-center text-md-left">
                    <form action="#" class="row flex-fill align-items-center">
                        <div class="col-lg-4 my-md-2 my-2">
                            <input type="text" class="form-control px-4 border-0 w-100 text-center text-md-left" id="name" placeholder="name" name="name">
                        </div>
                        <div class="col-lg-4 my-md-2 my-2">
                            <input type="email" class="form-control px-4 border-0 w-100 text-center text-md-left" id="email" placeholder="subscribe@me.now" name="email">
                        </div>
                        <div class="col-lg-4 my-md-2 my-2">
                            <button type="submit" class="btn btn-primary btn-lg border-0 w-100">Subscribe</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</main>
<%- include('../partials/footer') %>