<%- include('../partials/nav', { active: 'home' }) %>
<main>
    <div class="container">
        <h1>Hey &lt;ğšŒğš˜ğšğšğš›ğšœ/&gt;, I'm Paul Kazusek.</h1>
        <p class="fs-5">I'm a software engineer from Ruhr Area in Germany. I love open source and building successful projects with it, and writing about what I learn. This is my blog about things I've learned and created over the last years.</p>
        <h2>Newsletter</h2>
        <p class="fs-5">Subscribe to the newsletter to get my ...</p>
    </div>
</main>