<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark static-top">
    <div class="container">
      <a class="navbar-brand" href="/">paul-kazusek.dev</a>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item">
            <a class="nav-link <% if(active == 'home'){%>active<% } %>" aria-current="page" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link <% if(active == 'blog'){%>active<% } %>" href="/blog">Blog</a>
          </li>
          <li class="nav-item">
            <a class="nav-link <% if(active == 'about'){%>active<% } %>" href="/me">About</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>