<% if (pagination.pageCount > 1) { %> 
    <nav aria-label="Pagination">
      <ul class="pagination justify-content-center my-4">
        <% if (pagination.currentPage > 1) { %>
          <li class="page-item">
            <a class="page-link" href="/blog">First</a>    
          </li>    
        <% } %> 
        <% let index = 1;
          if (pagination.currentPage > 3) {
            index = +pagination.currentPage - 2;
        } %>
        <% if (index !== 1) { %>
            <li class="page-item disabled"><a class="page-link">...</a></li>
        <% } %>
        <% for (; index <= pagination.pageCount; index++) { %>
          <% if (pagination.currentPage == index) { %>
            <li class="page-item active"><a class="page-link"><%= index %></a></li>
          <% } else { %>
            <li><a class="page-link" href="/blog<% if( index > 1) { %>?page=<%= index %><% } %>"><%= index %></a></li>
          <% } %>
          <% if (index == (+pagination.currentPage + 2) && index != pagination.pageCount) { %>
            <li class="page-item disabled"><a class="page-link">...</a></li>
            <% break; } %>
          <% } %>
        <% if (pagination.currentPage != pagination.pageCount) { %>
          <li class="page-item"><a class="page-link" href="/blog?page=<%= pagination.pageCount %>">Last</a></li>
        <% } %>
      </ul>
    </nav>
<% } %> 
  