<div class="card mb-4">
    <a href="<%= article.url %>">
        <img class="card-img-top" src="https://loremflickr.com/850/360" alt="..." style="padding: 15px 15px 10px 15px;" />
    </a>
    <div class="card-body">
        <h2 class="card-title"><%= article.title %></h2>
        <p class="card-text"><%= article.preview %></p>
        <a class="btn btn-primary" href="<%= article.url %>">&raquo; read more &raquo;</a>
    </div>
</div>