<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="apple-touch-icon" sizes="180x180" href="../images/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../images/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../images/favicon-16x16.png">
    <link rel="manifest" href="../images/site.webmanifest">

    <title><%= title %></title>
    <link rel="stylesheet" href="../css/style.css" type="text/css" />
    <link rel="stylesheet" href="../css/bootstrap.min.css" type="text/css" />
    <script type="text/javascript" src="../js/bootstrap.bundle.min.js"></script>
    <script type="text/javascript" src="../js/fontawesome.js"></script>
    <script type="text/javascript" src="../js/brands.js"></script>
    <% if( locals.prismjs ) { %> 
<%- include('../partials/include-prismjs') %>
    <% } %>
</head>
<body>
    <div class="d-flex flex-column sticky-footer-wrapper min-vh-100 bg-light">
        <%-body %>
    </div>
</body>
</html>